<!--
<div>
{{appname}}
{{content}}
</div>
-->

<style>#branding{display:none;}</style>
<div class="scrollable">
    <div class="scrollable-content">
        <div id="appContent">
        </div>
    </div>
</div>

